* {
  box-sizing: border-box;
}
html {
  font-family: "Rubik";
}
.gridContainer1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-bottom: 5px;
  background-color: black;
}
.landingThreeContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.5rem;
  padding: 10px;
}
.cottageGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
  grid-gap: 1.5rem;
  padding: 10px;
}
.cottageImgContainer1:hover {
  animation: shake 0.1s;
  background-color: #52bc77;
  color: white;
}

.activeNavLink {
  background-color: white;
}
.inactiveNavLink {
  background-color: #52bc77;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}
#arrowUp {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
  opacity: 0.5;
}
#arrowUp:hover {
  color: #52bc77;
  font-size: 2.2rem;
  opacity: 1;
}
@keyframes shake {
  0% {
    transform: translate(-1px, -1px) rotate(-0.2deg);
    background-color: #8ed6a7;
  }
  50% {
    transform: translate(1px, 0px) rotate(0.2deg);
    background-color: #6ec98e;
  }
  100% {
    transform: translate(1.5px, 0.5px) rotate(0deg);
    background-color: #52bc77;
  }
}

/*---------------------MEDIA QUERIES--------------------------------*/
@media (max-width: 800px) {
  .flex1,
  .flex2 {
    text-align: center;
  }
  .gridContainer1 {
    flex-direction: column;
  }
  .landingThreeContainer {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .cottageGrid {
    grid-template-columns: auto;
  }
}
.facebookIcon:hover {
  opacity: 0.8;
}
